<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="templates :: header (name='Home')"></div>
<style type="text/css">
    .canvasContent {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<body class="pushable">
<div th:replace="templates :: mainNavbar"></div>

<div class="pusher">
    <!--/*@thymesVar id="project" type="Project"*/-->
    <div th:replace="templates :: mastTitle(text = ${project.name}, desc = ${project.desc})"></div>

    <div class="ui basic text container segment">
        <div class="ui medium header">
            February 2018 - August 2018
        </div>

        <p style="text-indent: 2.0em;">
            Having some experience with <a href="http://kotlinlang.org/">Kotlin</a> from my
            <a th:href="@{/projects/space_game}">Space Game</a> project and some interest
            in seeing how various algorithms work because I was taking Algorithms and Data
            Structures. I wanted to try to make a Kotlin multiplatform project using Kotlin's
            coroutines. This project ended up being an algorithm visualizer that would run
            in the browser, by compiling the Kotlin to Javascript, and in the JVM.
        </p>
        <p style="text-indent: 2.0em;">
            By using coroutines and some syntax sugar from Kotlin, I was able to write these
            algorithms in such a way that they were almost the same code as the normal algorithms.
            Only multithreaded algorithms, such as the parallel merge sort and parallel quicksort,
            had large bits that were related to the implementation of the algorithm renderer.
            The end result, compiled to JavaScript is available below.
        </p>

        <div id="mainArea" class="ui segment">
            <div id="controls" class="ui large stackable menu">
                <div class="ui dropdown item">
                    Structures
                    <i class="ui dropdown icon"></i>
                    <div id="structureList" class="menu">
                        <div id="structureListItem" class="item">
                        </div>
                    </div>
                </div>
                <div class="ui dropdown item">
                    Current Structure
                    <i class="ui dropdown icon"></i>
                    <div id="structureMenu" class="menu">
                        <div id="structureMenuItem" class="ui dropdown item">
                            <i class="ui dropdown icon"></i>
                            <div class="menu">
                                <div id="structureMenuSubItem" class="item">
                                </div>
                                <div id="structureMenuSubListItem" class="ui dropdown item">
                                    <i class="ui dropdown icon"></i>
                                    <div class="menu">
                                        <div id="structureMenuSubSubItem" class="item">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui dropdown item">
                    Options
                    <i class="ui dropdown icon"></i>
                    <div class="menu">
                        <button id="dataSizeMenu" class="item"></button>
                        <button id="opTimeMenu" class="item"></button>
                    </div>
                </div>
                <a id="simulation" class="item"></a>
            </div>
            <div class="canvasContent">
                <canvas id="canvas" width="100%" height="100%"></canvas>
            </div>
        </div>

    </div>

    <div th:replace="templates :: footer(contents = ':: footContents')"></div>
    <th:block th:fragment="footContents" th:if="false">
        <div class="three wide column">
            <h4 class="ui inverted header">Links</h4>
            <div class="ui inverted link list">
                <a href="https://github.com/SergeySave/Algovis" class="item">Source Code</a>
            </div>
        </div>

        <script type="text/javascript" th:src="@{/projects/algorithm_visualizer/kotlin.js}"></script>
        <script type="text/javascript" th:src="@{/projects/algorithm_visualizer/kotlinx-atomicfu.js}"></script>
        <script type="text/javascript" th:src="@{/projects/algorithm_visualizer/kotlinx-coroutines-core.js}"></script>
        <script type="text/javascript" th:src="@{/projects/algorithm_visualizer/algovis-js.js}"></script>
    </th:block>
</div>

</body>
</html>