
.bg-light-dark {
    background-color: #f5f5f5 !important;
}

ul.horizontal li {
    display: inline;
}

.navbar .dropdown-menu a:hover {
    color: #000!important;
}

.dropdown-item.active {
    background-color: #dfe0e1 !important;
}

.dropdown-item.subitem-title {
    border-bottom: solid 2px #1f2021;
}
