<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:fragment="header (name)">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>

        <title th:text="${name}"></title>

        <link rel="stylesheet" type="text/css" href="../static/semantic/dist/semantic.min.css"
              th:href="@{/semantic/dist/semantic.min.css}"/>
        <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/semantic/dist/semantic.min.js}"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/css.css" th:href="@{/css/css.css}"/>
    </head>

    <th:block th:fragment="mainNavbar">
        <div class="ui large top fixed hidden menu">
            <div class="ui container">
                <div th:replace="templates :: navbarContents"></div>
            </div>
        </div>

        <div class="ui vertical inverted sidebar menu left">
            <div th:replace="templates :: navbarContents"></div>
        </div>
        <script>
            $(document)
                .ready(function () {
                    // fix menu when passed
                    $('.masthead')
                        .visibility({
                            once: false,
                            onBottomPassed: function () {
                                $('.fixed.menu').transition('fade in');
                            },
                            onBottomPassedReverse: function () {
                                $('.fixed.menu').transition('fade out');
                            }
                        })
                    ;

                    // create sidebar and attach to menu open
                    $('.ui.sidebar')
                        .sidebar('attach events', '.toc.item')
                    ;
                });
        </script>
    </th:block>

    <th:block th:fragment="navbarContents" class="ui large stackable main menu">
        <!--/*@thymesVar id="pages" type="com.sergey.web.data.Page[]"*/-->
        <th:block th:each="page : ${pages}">
            <div th:if="${page.subPages.length > 0}" class="ui dropdown item">
                <th:block th:text="${page.name}">Page Name</th:block>
                <i class="ui dropdown icon"></i>
                <div class="menu">
                    <a class="item" th:href="@{${page.link}}" th:text="${page.overviewName}"
                       th:classappend="${page.current} ? 'active'"></a>
                    <a class="item" th:each="subPage : ${page.subPages}" th:href="@{${subPage.link}}"
                       th:text="${subPage.name}" th:classappend="${subPage.current} ? 'active'"></a>
                </div>
            </div>
            <a th:if="${page.subPages.length == 0}" th:href="@{${page.link}}" th:text="${page.name}" class="item"
               th:classappend="${page.current} ? 'active'"
               th:styleappend="${page.current} ? 'font-weight: bolder;'"></a>
        </th:block>
    </th:block>

    <div th:fragment="title (text)">
        <h1 class="ui center aligned header" th:text="${text}"></h1>
    </div>

    <div th:fragment="mastTitle (text, desc)" th:with="contents=${contents} ?: 'templates :: empty'"
         class="ui inverted vertical masthead center aligned segment"
         th:classappend="${contents} != 'templates :: empty' ? 'long'">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <th:block th:replace="templates :: navbarContents">NAVBAR CONTENTS</th:block>
            </div>
        </div>

        <div class="ui text container">
            <h1 class="ui inverted header topMargin" th:text="${text}"></h1>
            <h2 th:if="text != ''" th:text="${desc}"></h2>
            <th:block th:include="__${contents}__"/>
        </div>
    </div>

    <div th:fragment="mastTitleImage (text, desc, image)" th:with="contents=${contents} ?: 'templates :: empty'"
         class="ui inverted vertical masthead center aligned segment"
         th:classappend="${contents} != 'templates :: empty' ? 'long'">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <th:block th:replace="templates :: navbarContents">NAVBAR CONTENTS</th:block>
            </div>

            <div class="ui one column grid">
                <div class="computer only column">
                    <img th:src="${image}" class="ui small left floated middle aligned circular image"
                         th:styleappend="contents == '' ? 'margin-top: 24px;' : 'margin-top: 56px;' "/>
                    <div class="ui text container">
                        <h1 class="ui inverted header topMargin" th:text="${text}"></h1>
                        <h2 th:if="desc != ''" th:text="${desc}"></h2>
                        <th:block th:include="__${contents}__"/>
                    </div>
                </div>
                <div class="tablet mobile only column">
                    <div class="ui one column grid">
                        <div class="column">
                            <img th:src="${image}" class="ui small middle aligned circular image"
                                 style="margin-top: 8px;"/>
                        </div>
                        <div class="column">
                            <div class="ui text container">
                                <h1 class="ui inverted header" th:text="${text}"></h1>
                                <h2 th:if="desc != ''" th:text="${desc}"></h2>
                                <th:block th:include="__${contents}__"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block th:fragment="footer" th:with="contents=${contents} ?: 'templates :: empty'">
        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">About</h4>
                        <a href="https://github.com/SergeySave">
                            <img th:src="@{/images/github_inverted.png}" alt="GitHub image" class="ui mini image"/>
                        </a>
                        <a href="mailto:sergeysav.nn@gatech.edu">
                            <img th:src="@{/images/email_inverted.png}" alt="Email image" class="ui mini image"/>
                        </a>
                        <a href="https://www.linkedin.com/in/sergey-savelyev-a8928814b/">
                            <img th:src="@{/images/linkedin_inverted.png}" alt="LinkedIn image" class="ui mini image"/>
                        </a>
                        <a th:href="@{/Resume.pdf}">
                            <img th:src="@{/images/resume_inverted.png}" alt="Resume Icon image" class="ui mini image"/>
                        </a>
                    </div>
                    <th:block th:include="__${contents}__"/>
                </div>
            </div>

            <script>
                $('.ui.dropdown').dropdown();
                $('.activating.element').popup();
            </script>
        </div>
    </th:block>

    <th:block th:fragment="empty"/>
</html>