<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:fragment="header (name)">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>

        <title th:text="${name}"></title>

        <link rel="stylesheet" type="text/css" href="../static/semantic/dist/semantic.min.css"
              th:href="@{/semantic/dist/semantic.min.css}"/>
        <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/semantic/dist/semantic.min.js}"></script>
    </head>

    <div th:fragment="navbar" class="ui large stackable main menu">
        <!--/*@thymesVar id="pages" type="com.sergey.web.data.Page[]"*/-->
        <th:block th:each="page : ${pages}">
            <div th:if="${page.subPages.length > 0}" class="ui dropdown item"
                 th:styleappend="${page.current} ? 'font-weight: bolder;'"
                 th:ondblclick="${'linkTo(&quot;'+ page.link + '&quot;)'}">
                <th:block th:text="${page.name}">Page Name</th:block>
                <i class="ui dropdown icon"></i>
                <div class="menu">
                    <a class="item" th:each="subPage : ${page.subPages}" th:href="@{${subPage.link}}"
                       th:text="${subPage.name}" th:classappend="${subPage.current} ? 'active'"></a>
                </div>
            </div>
            <a th:if="${page.subPages.length == 0}" th:href="@{${page.link}}" th:text="${page.name}" class="item"
               th:classappend="${page.current} ? 'active'"
               th:styleappend="${page.current} ? 'font-weight: bolder;'"></a>
        </th:block>

        <script>
            $('.ui.dropdown').dropdown();

            $('.main.menu').visibility({
                type: 'fixed'
            });

            function linkTo(page) {
                window.location.href = page;
            }
        </script>
    </div>

    <div th:fragment="title (text)">
        <h1 class="ui center aligned header" th:text="${text}"></h1>
    </div>

    <th:block th:fragment="footer">
        <script>
            $('.activating.element')
                .popup();
        </script>
    </th:block>

</html>